@font-face {
  font-family: 'Kabisat ItalicTall';
  src: url('../Assets/Kabisat\ Demo-ItalicTall.woff2') format('woff2'),
       url('../Assets/Kabisat\ Demo-ItalicTall.woff') format('woff'),
       url('../Assets/Kabisat\ Demo-ItalicTall.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'spage-grotesk';
  src: url('../Assets/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
}
.container {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    background-image: url('../Assets/static.png');
    background-size: cover;
    color: #e0e0e0;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100vw;
    position: relative;
    font-family: 'spage-grotesk';
  }
  .overlay {
    position: absolute;
    height: 100dvh;
    width: 25vw;
    z-index: 2;
    left:0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-left: 5%;
  }
  .resetBtn {
    background: transparent;
    color: #1AC90B;
    border-style: none;
    border: 2px solid #1AC90B;
    font-size: .5rem;
    border-radius: 5px;
  }
  .nameCard {
        font-size: 4rem;
    font-family: 'Kabisat ItalicTall', sans-serif;
    margin-top: 5rem;
  }
  .card {
    height: 50px;
    width: 15rem;
    background-color: #0F5C0F;
    border-radius: 15px 0 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
  }
  .card:hover {
    box-shadow: inset 0 0 20px rgba(26, 201, 11);
}
  .bottom {
    margin-bottom: 15rem;
  }
  .main {
    font-size: .6rem;
  }
  .subSection {
    font-size: .5rem;
  }
  .grid {
    width: 100%;
    height: 100px;
   }
  .headers {
    font-size: .6rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgb(0, 255, 0);
    margin-top: 1rem;
  }
  .gridHeader {
    width: 33%;
    text-align: center;
  }
  .gridContent {
    font-size: .4rem;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
  }
  .grid-row {
    width: 33%;
  }
  .skills {
    width: 100%;
  }
  .column {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  .tech-icon {
    display: flex;
    flex-direction: column;
    margin: 5px;
    text-align: center;
    width: 60px;
    font-size: 30px;
}
.tech-icon span {
    font-size: 7px;
}
@media (max-width: 600px) {
    .nameCard {
        font-size: 2.5rem;
    font-family: 'Kabisat ItalicTall', sans-serif;
    margin-top: 5rem;
  }
  .box {
  }
  .subSection {
    display: none;
  }
  .column {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 0px;
  }
  .tech-icon {
    font-size: 10px;
  }
  .tech-icon span {
    font-size: 7px;
  }
  /* .grid {
    display: none;
  } */
}
 