.box-container {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  background-image: url('../Assets/static.png');
  background-size:cover;
  color: #e0e0e0; 
  justify-content: center; 
  align-items: center; 
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.row {
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: row;
}
.rowTwo {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: row;
}
.boxOne, .boxTwo, .boxThree, .boxFour, .boxFive {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1%;
  color: black;
}

.boxOne {
  flex: 1;
  background-color: rgb(209, 209, 209);
  /* background-image: url('./Assets/static.png'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: invert(1);
 }
 .logo{ 
  height: 100%;
  width: 100%;
  background-image: url('../Assets/64.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;
  filter: invert(1);
 }
.boxTwo { 
  flex: 2;
  background-color: white;
  background-image: url('../Assets/64text.png');
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat;
  border-radius: 15px;
 }
.boxThree { 
  flex: 1;
  background-color: green;
  background-image: url('../Assets/me2.jpg');
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
 }
.boxFour { 
  flex: 2;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  text-decoration: none;
 }
 .fourText {
  font-size: 70px;
  z-index: 2;
  color: black;
 }
 .fourBg {
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  transition: background-image 1s ease-in-out, opacity 1s ease-in-out;
  filter: blur(5px);
  background-image: url('../Assets/floor3.png');
  background-size:cover;
}
.boxFive { 
  flex: 3;
  overflow: hidden;
  position: relative;
  text-decoration: none;
 }
 @keyframes scrollBackground {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
.fiveText {
  font-size: 70px;
  z-index: 2;
  color: white;
}
.fiveBg {
  z-index: 1;
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url('../Assets/floor10demo.png');
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: 0% 50%;
  animation: scrollBackground 20s linear infinite alternate;
  filter: blur(5px);
}
/* .boxOne:hover,
.boxTwo:hover,
.boxThree:hover, */
.boxFour:hover,
.boxFive:hover {
  box-shadow: 0 0 12px 4px rgba(255, 255, 255, 0.6);
  transition: box-shadow 0.3s ease;
}

@media (max-width: 768px) {
    .box-container {
      padding :5px 10px;
      height: 99vh;
      overflow:hidden;
    }
    .row {
      height: 30vh
    }
    .rowTwo {
      flex-direction: column;
    }
    .boxOne {
      flex: 2

    }
    .boxThree {
      flex: 3;
    }
    .fourText {
      font-size: 70px;
      z-index: 2;
      text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.747);
     }
    .boxFive {
      text-align: center;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
}




