body {
   background: linear-gradient(45deg, #ACF3D3 0%, #69C8A1 100%);
   margin: 0;
   display: flex;
   font-family: Georgia;
   color: #F1FAEE;
   flex-direction: column;
}
nav {
   width: 100%;
   height: 7em;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.logo {
   max-height: auto;
   max-width: 7em;
   margin-left: 1em;
   border-bottom: 5px double black;
   border-bottom-style: double;
   border-color: black;
}
.links {
   padding-right: 3em;
   
}
a {
   text-decoration: none;
   color: black;
}
a:visited
{ 
     text-decoration: none !important;
     color: black;
}
ul {
   display: flex;
   padding-inline-start: 0;
   gap: 2em;
   list-style: none;
   font-size: 1.25em;
   border-bottom: 2px solid #A31621;
   font-weight: 800;
}
.cont1 {
   background-image: url('imgs/home2.jpg');
   background-size: cover;
   height: 90vh;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.title {
   display: flex;
   flex-direction: column;
   font-size: 3.75vh;
   padding-left: 2em;
   color: black;
}
h1{
   font-weight: 100;
   border-bottom: 2px solid #A31621;
}
h2 {
   font-size: 3vh;
   border-bottom: 2px solid #A31621;
}
.slide {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.cont2 {
   background-image: url('imgs/land2.jpg');
   background-size: cover;
   height: 90vh;
   display: flex;
   justify-content: flex-start;
   align-items: center;
}
hr {
   color: #A31621;
   background-color: #A31621;
   border: none;
   height: 2px;
}
.card {
   background-color: #ACF3D3;
   color: black;
   display: flex;
   flex-direction: column;
   justify-content: center;
   opacity: 0.9;
   width: 60vh;
   height: 30vh;
   margin: 2em;
   padding: 2em;
   font-size: larger;
   border-radius: 10%;
}
h3 {
   font-size: 4vh;
   color: black;
   border-bottom: 2px solid #A31621;
   margin-top: 1em;
}
/* slideshow css start 
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
   max-width: 1000px;
   position: relative;
   margin: auto;
 }
 
 /* Hide the images by default */
 .mySlides {
   display: none;
 }
 
 /* Next & previous buttons */
 .prev, .next {
   cursor: pointer;
   position: absolute;
   top: 50%;
   width: auto;
   margin-top: -22px;
   padding: 16px;
   color: white;
   font-weight: bold;
   font-size: 18px;
   transition: 0.6s ease;
   border-radius: 0 3px 3px 0;
   user-select: none;
   display: none;
 }
 
 /* Number text (1/3 etc) */
 .numbertext {
   color: #f2f2f2;
   font-size: 12px;
   padding: 8px 12px;
   position: absolute;
   top: 0;
 }
 
 /* Fading animation */
 .fade {
   -webkit-animation-name: fade;
   -webkit-animation-duration: .5s;
   animation-name: fade;
   animation-duration: .5s;
 }
 
 @-webkit-keyframes fade {
   from {opacity: .4}
   to {opacity: 1}
 }
 
 @keyframes fade {
   from {opacity: .4}
   to {opacity: 1}
 }
footer {
   width: 100%;
   height: 4em;
   display: flex;
   justify-content: flex-end;
}
h4 {
   padding-right: 1em;
   color:black;
}
@media screen and (max-width: 700px) {
   ul {
      margin-left: 1em;
   }
   .cont1{
      height: auto;
      background-position: center;
   }
   .cont2 {
      height: auto;
      background-position: center;
   }
   .title {
      font-size: 1em;
   }
   .card {
      width: auto;
      padding: 1em;
      height: 20vh;
   }
   h2 {
      font-size: 2vh;
   }
   p {
      margin: 0;
      font-size: 1.5vh;
   }
}