html, body {
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
   background-color: black;
   color:white;
	perspective: 2px;
	transform-style: preserve-3d;
	height: 100%;
	overflow-x: hidden;
 }
/*nav start*/
nav {
   padding: 3.5vh 4vw;
   background-color: black;
   position: relative;
   width: 100%;
   width: -moz-available;          /* WebKit-based browsers will ignore this. */
   width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
   width: fill-available;
}
.navtop {
   margin-bottom: .85rem;
   font-size: .85rem;
}
.mainnav {
   margin-top: 1.75rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: .85rem;
}
.visuallyHidden {
   position: absolute;
   clip: rect(0 0 0 0); 
}
.menuIcon {
   display: flex;
   justify-content: flex-end;
   padding-right: 4vh;
   z-index: 100;
   position: fixed;
   transform: translate(-60px,-45px);
}
.menuCir {
   background-color: #0093E9;
}
.hamburger {
   margin: 0 auto;
   margin-top: 30px;
   width: 30px;
   height: 30px;
   position: relative;
   cursor: pointer;
}
.hamburger .bar {
   padding: 0;
   width: 30px;
   height: 4px;
   background-color: white;
   display: block;
   border-radius: 4px;
   transition: all 0.4s ease-in-out;
   position: absolute; 
}
.bar1 {
   top: 0;
}
.bar2,
.bar3 {
   top: 13.5px;
}
.bar3 {
   right: 0;
}
.bar4 {
   bottom: 0;
}
.checkbox1:checked + label > .hamburger1 > .bar1{
   transform: rotate(45deg);
   transform-origin: 5%;
   width: 41px;
   background-color: rgb(255, 255, 255);
}
.checkbox1:checked + label > .hamburger1 > .bar2 {
   transform: translateX(-40px);
   background-color: transparent;
}
.checkbox1:checked + label > .hamburger1 > .bar3 {
   transform: translateX(40px);
   background-color: transparent;
}
.checkbox1:checked + label > .hamburger1 > .bar4 {
   transform-origin: 5%;
   transform: rotate(-45deg);
   width: 41px;
   background-color: rgb(255, 255, 255);
}
 /* end */
.sidenav {
 height: 100%;
 width: 0;
 position: fixed;
 z-index: 1;
 top: 0;
 right: 0;
 background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
 overflow-x: hidden;
 transition: 0.5s;
 padding-top: 20%;
}
.sidenav a {
 padding: 8px 8px 8px 32px;
 text-decoration: none;
 font-size: 25px;
 color: rgb(206, 192, 162);
 display: block;
 transition: 0.3s;
 font-weight: 800;
}
.sidenav a:hover {
 color: #ffffff;
}
.sidenav .closebtn {
 position: absolute;
 top: 0;
 right: 25px;
 font-size: 36px;
 margin-left: 50px;
}
@media screen and (max-height: 450px) {
 .sidenav {padding-top: 15px;}
 .sidenav a {font-size: 18px;}
}
h1 {
   padding-left: 1rem;
   font-size: 1.25rem;
}
.left {
   display: flex;
   align-items: center;
   justify-content: center;
}
.right {

}
.contact {

}
/* Main */
.hero {
	position: relative;
	height: 100%;
   transform: scale(0.5);
	display: block;
	text-align: center;
	transform-style: inherit;
   margin-top: 5rem;
 }
 .hero:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: url('Images/main.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	transform: translateZ(-1px) scale(3);
   margin-top: 5rem;
 }
.container {
   height:100%;
   width:100%;
   display: block;
   position: absolute;
   background-color: black;
   transform: translateZ(0px) scale(1);
}
.landing {

}
.landcard {
   width: 55rem;
   height: 40rem;
   background-color: rgb(0, 0, 0, 0.4);
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   position: absolute;
   margin: 20% 0 5rem 5rem;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
}
h2 {
   font-size: 4.5rem;
}
.about {
   background-color: rgb(26, 26, 26);
   margin: 5rem;
   display: flex;
}
.aboutCont {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;
   padding: 0 10rem;
   line-height: 1.9;
}
h3 {
   color: rgb(119, 255, 255);
   font-size: 3rem;
}
h4 {
   color: rgb(119, 255, 255);
   font-size: 1rem;
   padding: 1rem;
   border-radius: 10%;
   border: 1px solid rgb(119, 255, 255);
}
.work {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 2rem;
   padding-bottom: 1rem;
}
.card {
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 2px solid white;
    width: 29vw;
    height: 75vh;
    
}
.workCard {
   width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
.cardLine {
   width: 80%;
}
.reviews {
   width: 100%;
   height: 480px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-image: url('Images/review.png');
   background-position: center;
   background-size: contain;
   background-repeat: no-repeat;
}
h5 {
   font-size: 1.5rem;
   font-weight: 100;
}
p, h5{
   margin-left: 2rem;
}
.card h4 {
   margin-left: 2rem;
}
.examples {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-color: rgb(26, 26, 26);
   padding: 2rem;
}
/* Slideshow container */
.slideshow-container {
   position: relative;
 }
 
 /* Slides */
 .mySlides {
   display: none;
   padding: 80px;
   text-align: center;
 }
 
 /* Next & previous buttons */
 .prev, .next {
   cursor: pointer;
   position: absolute;
   top: 50%;
   width: auto;
   margin-top: -30px;
   padding: 16px;
   color: #888;
   font-weight: bold;
   font-size: 20px;
   border-radius: 0 3px 3px 0;
   user-select: none;
 }
 
 /* Position the "next button" to the right */
 .next {
   position: absolute;
   right: 0;
   border-radius: 3px 0 0 3px;
 }
 
 /* On hover, add a black background color with a little bit see-through */
 .prev:hover, .next:hover {
   background-color: rgba(0,0,0,0.8);
   color: white;
 }
 
 /* The dot/bullet/indicator container */
 .dot-container {
   text-align: center;
   padding: 20px;
 }
 
 /* The dots/bullets/indicators */
 .dot {
   cursor: pointer;
   height: 10px;
   width: 10px;
   margin: 0 2px;
   background-color: #bbb;
   border-radius: 50%;
   display: inline-block;
   transition: background-color 0.6s ease;
 }
 
 /* Add a background color to the active dot/circle */
 .active, .dot:hover {
   background-color: #717171;
 }
 
 /* Add an italic font style to all quotes */
 q {font-style: italic;}

 .contactForm {
    width: 100%;
    height: 80vh;
    background-image: url('Images/cont.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .map {
   width:100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
 }
 .mapouter{
   position:relative;
   text-align:right;
   height:500px;
   width:100%;
  }
.gmap_canvas {
   overflow:hidden;
   background:none!important;
   height:500px;
  }
  .fullmap {
     width: 100%;
  }
 .final {
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10rem;
    font-size: 1.25rem;
    text-align: center;
 }
 footer {
   width:100%;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 3rem;
   font-size: .85rem;
   text-align: center;
   background-color: rgb(26, 26, 26);
 }
 img {
   max-inline-size: -moz-available;          /* WebKit-based browsers will ignore this. */
   max-inline-size: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
   max-inline-size: fill-available;
   max-inline-size: 100%;
   block-size: auto;
 }
 @media screen and (max-width: 900px) {
    .left {
       justify-content: flex-start;
    }
   .logo {
      width: 25%;
   }
   h1 {
      font-size: .75rem;
   }
   .landcard {
      width: 50%;
      height: 25%;
      margin: 50% 0 5rem 0rem;
   }
   h2 {
      font-size: 1rem;
   }
   .hero {
      margin: 0;
      height: 25%
   }
   .hero::before {
      margin: 0;
   }
   .about {
      flex-direction: column;
      margin: 2rem;
      text-align: center;
      justify-content: center;
   align-items: center;
   }
   .aboutCont {
      padding: 0 2rem;
   }
   .aboutCont p {
      margin: 0;
   }
   .card {
      width: 80%;
   }
   .reviews {
      height: auto;
   }
   .contactForm {
      width: auto;
   }
 }